body {
    margin: 0;
    padding: 0;
    background-color: rgb(54, 53, 54);

    font-family: "Rubik", sans-serif;

    --main-bg: #363536;
    --element-bg: #363636;
    --font-color: #ffffff;
    --font-inactive: #828282;
    --moves-cont-bg: #424242;
    --skip-button-active: #acacac;
    --skip-button-inactive: #6d6d6d;
    --skip-button-hover: #fff;
    --switch-button: #6f85d2;
    --titlebar: #202225;
    --button-hover: rgba(255, 255, 255, 0.1);
    --button-active: rgba(255, 255, 255, 0.2);
    --close-button: #e81123;
    --close-button-active: #f1707a;
    --font-green: #3fb950;
    --cta-button: #424242;
    --selector-bg: #f3e8dc;
    --selector-focus: #fff;
    --scoll-thumb: #222222;

    --hr: #424242;

    --transition-time: 0.2s;
}

body.light {
    --main-bg: #f7f7f7;
    --element-bg: #f0f0f0;
    --font-color: #6d6d6d;
    --font-inactive: #aaaaaa;
    --moves-cont-bg: #c7c7c7;
    --skip-button-active: #a6a6a6;
    --skip-button-inactive: #dad8d8;
    --skip-button-hover: #6d6d6d;
    --switch-button: #6f85d2;
    --titlebar: #9d9d9d;
    --button-hover: rgba(255, 255, 255, 0.1);
    --button-active: rgba(255, 255, 255, 0.2);
    --close-button: #e81123;
    --close-button-active: #f1707a;
    --font-green: #3fb950;
    --cta-button: #e4e4e4;
    --selector-bg: #a3a3a3;
    --selector-focus: #8e8e8e;
    --scoll-thumb: #b4b4b4;
    --hr: #d3d3d3;
}

*,
*::before {
    user-select: none;
    transition: background-color var(--transition-time), color var(--transition-time), border-color var(--transition-time), fill var(--transition-time);
}

hr {
    height: 2px;
    background-color: var(--hr);
    border: none;
}

#titlebar {
    display: block;
    position: fixed;
    height: 20px;
    width: 100%;
    background: var(--titlebar);
    user-select: none;
    z-index: 5;
    /* display: none; */
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

#titlebar {
    color: var(--font-color);
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#min-button {
    grid-column: 1;
}
#max-button,
#restore-button {
    grid-column: 2;
}
#close-button {
    grid-column: 3;
}

#drag-region .title {
    height: 50%;
}

#window-controls .icon {
    width: 9px;
    height: 9px;
}

#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button {
    user-select: none;
}
#window-controls .button:hover {
    background: var(--button-hover);
}
#window-controls .button:active {
    background: var(--button-active);
}

#close-button:hover {
    background: var(--close-button) !important;
}
#close-button:active {
    background: var(--close-button-active) !important;
}
#close-button:active .icon {
    filter: invert(1);
}

#restore-button {
    display: none !important;
}

#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
}

.maximized #titlebar {
    width: 100%;
    padding: 0;
}

.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}

#main {
    height: calc(100% - 32px);
    margin-top: 32px;
    padding: 20px;
    overflow-y: auto;
}

.cont {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.6));
}

.board {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-user-drag: none;
}

#board * {
    user-select: all;
}

.piece {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background-position: center;
    background-size: cover;
    cursor: grab;
    transition: transform 0.15s;
}

.board.back .piece {
    transition: transform 0.1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.piece.grab {
    cursor: grabbing;
}

.boards {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    grid-auto-flow: row;
}

.boardbg {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    grid-auto-flow: row;
    z-index: -2;
}

.file {
    width: 100%;
    height: 100%;
}

.dark {
    background-color: rgb(172, 125, 88);
}

.light {
    background-color: rgb(231, 215, 187);
}

.selected {
    background-color: rgba(255, 255, 0, 0.8);
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.content.lastmovestart {
    background-color: rgba(255, 255, 0, 0.5);
    z-index: 0;
}

.content.lastmoveend {
    background-color: rgba(255, 255, 0, 0.5);
    z-index: 0;
}

.content:hover,
.content.view {
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.8) inset;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* width: 100%;height: 100%; */
    /* background-color: #d16464d7; */
}

.content .point.attack {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    border-radius: 0px;
    /* box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.8) inset; */
    transition: border 0.3s;
}

@keyframes bounce {
    50% {
        width: 35%;
        height: 35%;
    }
}
/* 
.point.attack {
    width: 75%;
    height: 75%;
    background-color: transparent;
    border-radius: 50%;
    border: 10px solid rgba(0,0,0,0.2);
} */

.remove {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.dark-piece {
    z-index: 4;
    pointer-events: none;
}

.br {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/br.png");
}

.bn {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/bn.png");
}

.bb {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/bb.png");
}

.bq {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/bq.png");
}

.bk {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/bk.png");
}

.bp {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/bp.png");
}

.wr {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/wr.png");
}

.wn {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/wn.png");
}

.wb {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/wb.png");
}

.wq {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/wq.png");
}

.wk {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/wk.png");
}

.wp {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/alpha/300/wp.png");
}

[id="0"] {
    transform: translate(0%, 700%);
}
[id="1"] {
    transform: translate(100%, 700%);
}
[id="2"] {
    transform: translate(200%, 700%);
}
[id="3"] {
    transform: translate(300%, 700%);
}
[id="4"] {
    transform: translate(400%, 700%);
}
[id="5"] {
    transform: translate(500%, 700%);
}
[id="6"] {
    transform: translate(600%, 700%);
}
[id="7"] {
    transform: translate(700%, 700%);
}
[id="8"] {
    transform: translate(0%, 600%);
}
[id="9"] {
    transform: translate(100%, 600%);
}
[id="10"] {
    transform: translate(200%, 600%);
}
[id="11"] {
    transform: translate(300%, 600%);
}
[id="12"] {
    transform: translate(400%, 600%);
}
[id="13"] {
    transform: translate(500%, 600%);
}
[id="14"] {
    transform: translate(600%, 600%);
}
[id="15"] {
    transform: translate(700%, 600%);
}
[id="16"] {
    transform: translate(0%, 500%);
}
[id="17"] {
    transform: translate(100%, 500%);
}
[id="18"] {
    transform: translate(200%, 500%);
}
[id="19"] {
    transform: translate(300%, 500%);
}
[id="20"] {
    transform: translate(400%, 500%);
}
[id="21"] {
    transform: translate(500%, 500%);
}
[id="22"] {
    transform: translate(600%, 500%);
}
[id="23"] {
    transform: translate(700%, 500%);
}
[id="24"] {
    transform: translate(0%, 400%);
}
[id="25"] {
    transform: translate(100%, 400%);
}
[id="26"] {
    transform: translate(200%, 400%);
}
[id="27"] {
    transform: translate(300%, 400%);
}
[id="28"] {
    transform: translate(400%, 400%);
}
[id="29"] {
    transform: translate(500%, 400%);
}
[id="30"] {
    transform: translate(600%, 400%);
}
[id="31"] {
    transform: translate(700%, 400%);
}
[id="32"] {
    transform: translate(0%, 300%);
}
[id="33"] {
    transform: translate(100%, 300%);
}
[id="34"] {
    transform: translate(200%, 300%);
}
[id="35"] {
    transform: translate(300%, 300%);
}
[id="36"] {
    transform: translate(400%, 300%);
}
[id="37"] {
    transform: translate(500%, 300%);
}
[id="38"] {
    transform: translate(600%, 300%);
}
[id="39"] {
    transform: translate(700%, 300%);
}
[id="40"] {
    transform: translate(0%, 200%);
}
[id="41"] {
    transform: translate(100%, 200%);
}
[id="42"] {
    transform: translate(200%, 200%);
}
[id="43"] {
    transform: translate(300%, 200%);
}
[id="44"] {
    transform: translate(400%, 200%);
}
[id="45"] {
    transform: translate(500%, 200%);
}
[id="46"] {
    transform: translate(600%, 200%);
}
[id="47"] {
    transform: translate(700%, 200%);
}
[id="48"] {
    transform: translate(0%, 100%);
}
[id="49"] {
    transform: translate(100%, 100%);
}
[id="50"] {
    transform: translate(200%, 100%);
}
[id="51"] {
    transform: translate(300%, 100%);
}
[id="52"] {
    transform: translate(400%, 100%);
}
[id="53"] {
    transform: translate(500%, 100%);
}
[id="54"] {
    transform: translate(600%, 100%);
}
[id="55"] {
    transform: translate(700%, 100%);
}
[id="56"] {
    transform: translate(0%, 0%);
}
[id="57"] {
    transform: translate(100%, 0%);
}
[id="58"] {
    transform: translate(200%, 0%);
}
[id="59"] {
    transform: translate(300%, 0%);
}
[id="60"] {
    transform: translate(400%, 0%);
}
[id="61"] {
    transform: translate(500%, 0%);
}
[id="62"] {
    transform: translate(600%, 0%);
}
[id="63"] {
    transform: translate(700%, 0%);
}

.select {
    width: 12.5%;
    height: 50%;
    z-index: 10000;
    position: absolute;
    background-color: var(--selector-bg);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    display: block;
    animation: select-height 0.4s;
    display: none;
}

.display-normal {
    display: block;
}

@keyframes select-height {
    0% {
        height: 0;
    }
    100% {
        height: 50%;
    }
}

.select .piece {
    position: relative;
    width: 100%;
    height: 25%;
}

.select .selector {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: var(--selector-focus);
    top: 0px;
    z-index: -1;
    transform: translateY(0);
    transition: transform 0.3s;
}

.select .piece.wq:hover ~ .selector {
    transform: translateY(0%);
}
.select .piece.wr:hover ~ .selector {
    transform: translateY(100%);
}
.select .piece.wb:hover ~ .selector {
    transform: translateY(200%);
}
.select .piece.wn:hover ~ .selector {
    transform: translateY(300%);
}

.num {
    position: relative;
    text-align: center;
    line-height: 100%;
}

.num span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 30px;
}

.noDisp {
    display: none;
}

.user {
    padding: 6px 6px;
    background-color: var(--element-bg);
    display: flex;
}

.user span {
    color: var(--font-inactive);
    font-size: 15px;
    font-weight: 500;
    transition: color 0.2s;
}

.user.cur span {
    color: var(--font-color);
}

.searching {
    font-size: 13px;
    padding: 2px 7px;
    border: 1px solid var(--font-green);
    border-radius: 6px;
    color: var(--font-green);
    position: absolute;
    left: 104px;
    transform: translateY(-2px);
    opacity: 0;
    transition: opacity 0.3s;
}

.user .searching.active {
    opacity: 1;
}

.time {
    position: absolute;
    right: 5px;
}

.time.low {
    animation: low 1s infinite;
}

@keyframes low {
    50% {
        color: red;
    }
}

.win-loss {
    width: 460px;
    height: 370px;
    position: absolute;
    z-index: 10;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.win-loss.show {
    pointer-events: all;
    opacity: 1;
}

.win-loss .close {
    width: 14px;
    position: absolute;
    margin: 14px;
    top: 0;
    right: 0;
    z-index: 11;
    cursor: pointer;
    padding: 4px;
}

.win-loss .circle {
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    left: 50%;
    background-color: #626262;
    transform: translate(-50%, -88%);
}

.win-loss .who {
    color: white;
    font-size: 35px;
    position: absolute;
    margin: 40px 0px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    white-space: nowrap;
}

.users {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    color: #868686;
    font-size: 14px;
}

.users div {
    width: 110px;
    text-align: center;
}

.users div img {
    width: 95%;
}

.users div p {
    margin: 20px 0px;
}

.users .score {
    height: 18px;
    margin-top: 130.5px;
}

.users img {
    width: 100%;
}

.newgame {
    color: var(--font-color);
    font-size: 18px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    z-index: 20;
    background-image: linear-gradient(to right, #f13612 0%, #f5a318 100%);
    background-position: 0 -30px;
    transition: all 0.2s linear;
}

.newgame-outside {
    color: var(--font-color);
    font-size: 15px;
    position: absolute;
    top: 100%;
    right: 0%;
    padding: 5px 12px;
    margin: 0px 0px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    background-color: var(--cta-button);
    white-space: nowrap;
}

.newgame-outside .hidden {
    display: none;
}

.evaluation-bar {
    width: 25px;
    height: 100%;
    position: absolute;
    background-color: #4b4b4b;
    left: calc(100% + 30px);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.white {
    width: 100%;
    position: absolute;
    height: 50%;
    bottom: 0;
    background-color: white;
    transition: height 0.2s;
}

.noTrans {
    transition: none;
}

.github-link {
    width: 28px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px 8px;
    padding: 10px;
    cursor: pointer;
}

.github-link img {
    width: 100%;
}

.left {
    position: absolute;
    right: calc(100% + 30px);
    width: 240px;
}

.stats-cont {
    width: 100%;
    float: right;
    transition: opacity 0.3s, width 0.3s;
    margin-bottom: 15px;
}

.stats-cont .header {
    width: 100%;
    font-size: 16px;
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    background-color: var(--moves-cont-bg);
    z-index: 2;
}

.stats-cont .header span {
    margin: 4px 7px;
}

.stats-cont input {
    width: 55px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translate(5px, -50%);
    right: 0px;
    background-color: var(--moves-cont-bg);
    outline: none;
    border: 1px solid #6f85d200;
    -webkit-appearance: none;
    color: var(--font-color);
    font-family: "Rubik", sans-serif;
    padding: 2px 5px;
    font-size: 15px;
    border-radius: 4px;
    text-align: right;
    transition: border 0.2s;
}

.container.inactive,
.container.inactive input {
    color: var(--font-inactive) !important;
    pointer-events: none;
}

.stats-cont input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stats-cont input:focus {
    border: 1px solid var(--switch-button);
}

.stats-cont .header .close {
    position: relative;
    width: 34px;
    height: 29px;
    background-color: var(--close-button);
    cursor: pointer;
    transition: all 0.3s;
}

.stats-cont .header .close img {
    width: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s;
}

.stats-cont.hide .header .close img {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.stats-cont.hide .header .close {
    background-color: transparent;
}

.info {
    margin: 10px 0px;
}

.info.settings {
    margin-bottom: 0px;
}

.info.settings .container {
    cursor: pointer;
}

.info.settings .container span {
    display: inline-block;
    vertical-align: middle;
}

.info .container {
    display: flex;
    color: var(--font-color);
    margin: 4px 0px;
    justify-content: space-between;
    position: relative;
    height: 20px;
}

.info.settings .container {
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.outer {
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 367px;
}

.stats-cont.hide .outer .stats {
    transform: translateY(-100%);
}

.stats-cont.hide .outer {
    max-height: 0px !important;
}

.stats {
    background-color: var(--element-bg);
    padding: 1px 10px;
    transition: transform 0.3s;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 0px 4px 4px 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--scoll-thumb);
}

.moves-cont {
    background-color: var(--moves-cont-bg);
    margin: 10px 0px;
    padding: 4px 0px;
    border-radius: 4px;
    min-height: 66px;
    max-height: 239px;
    overflow-y: scroll;
    transition: all linear 0.5s;
}

.moves-cont .row {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
    padding: 3px 0px;
    color: var(--font-color);
}

.moves-cont .row .move {
    margin: 2px 2px;
    padding: 2px 4px;
    background-color: var(--element-bg);
    border-radius: 3px;
    transition: background-color 0.3s;
    user-select: none;
}

.stats .return.show {
    opacity: 1;
}

.game-skip {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: var(--moves-cont-bg);
    margin-bottom: 10px;
    border-radius: 4px;
}

.game-skip svg {
    cursor: not-allowed;
    fill: var(--skip-button-inactive);
    transition: fill 0.3s;
}

.game-skip svg.active:hover {
    fill: var(--skip-button-hover);
}

.game-skip svg.active {
    cursor: pointer;
    fill: var(--skip-button-active);
    pointer-events: all;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--moves-cont-bg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: none;
    transform: translateX(3px);
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    transition: 0.2s;
    transition: transform 0.3s;
}

input:checked + .slider {
    background-color: var(--switch-button);
}

.switch .slider {
    border: none;
}

input:checked + .slider:before {
    transform: translateX(18px) translateY(-50%);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.alerts {
    width: 340px;
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    display: none;
}

.alert {
    width: 100%;
    position: relative;
    background-color: var(--font-color);
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    transition: opacity 0.3s;
}

.alert .title {
    display: flex;
    margin: 12px 10px 7px 10px;
    font-size: 18px;
    position: relative;
    line-height: 24px;
}

.alert .title img {
    width: 24px;
    height: 24px;
    margin: auto 5px auto 0px;
}

.alert .title span {
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
}

.alert .title svg {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    fill: #829ab1;
}

.alert .message {
    font-size: 15px;
    color: #6d6d6d;
    margin-left: 40px;
    margin-bottom: 12px;
}

.dark-warning {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) translateY(-200%);
    width: 240px;
    background-color: #fff;
    border-radius: 6px;
    transition: transform 0.3s;
}

.dark-warning.active {
    transform: translateX(-50%);
}

.dark-warning .warn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0px;
}

.dark-warning .text {
    text-align: center;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #444444;
}

.dark-warning .buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.dark-warning .buttons div {
    width: 80px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    vertical-align: center;
    border-radius: 7px;
}

.dark-warning .buttons #cancel {
    border: 2px solid red;
    color: red;
    transition: all 0.3s;
}

.dark-warning .buttons #cancel:hover {
    border: 2px solid red;
    color: white;
    background-color: red;
}

.dark-warning .buttons #yes {
    border: 2px solid #c5c5c5;
    color: #c5c5c5;
    transition: all 0.3s;
}

.dark-warning .buttons #yes:hover {
    border: 2px solid #c5c5c5;
    color: white;
    background-color: #c5c5c5;
}
